<h1>Hello {{user}}</h1>

<ul>
  {{#each messages}}
    <li>{{author}}: {{body}}</li>
  {{/each}}
</ul>

{{#if user}}
<form action="/message" method="post">
  <label>
    message
    <input type="text" name="messageBody" />
  </label>
  <button type="submit">post</button>
</form>
<a href="/logout">logout</a>
{{else}}
<a href="/register">register</a>
<a href="/login">login</a>
{{/if}}