<h1>Hello world</h1>

<ul>
  {{#each messages}}
    <li>{{id}}: {{body}}</li>
  {{/each}}
</ul>

<form action="/message" method="post">
  <label>
    message
    <input type="text" name="messageBody" />
  </label>
  <button type="submit">post</button>
</form>